{% set block = block ?? null %}

{% if block %}
  <section class="section bg-gradient clearfix pt-0" data-label="featured-content-platform">
    <div class="float-left -mt-30 w-full lg:-mt-50">
      {% if block.featured_content | length %}
        <div class="container-lg">
          <div class="flex flex-wrap justify-center -mb-20 -mx-10 md:mx-0">
            {% for featured_content in block.featured_content %}
              <div class="mb-20 w-full md:w-1/2{{ block.featured_content | length > 1 ? ' lg:w-1/' ~ block.featured_content | length }}">
                {% include '_blocks/featured-content/featured-content.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if block.secondary_featured_content | length %}
        <div class="container-md section pb-0">
          <div class="flex flex-wrap -mb-20 -mx-40 md:-mx-30">
            {% for featured_content in block.secondary_featured_content %}
              <div class="mb-20 px-30">
                {% include '_blocks/featured-content-taxonomy-platform/featured-content.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if block.button_link and block.button_text %}
        <div class="container-sm text-center">
          <span class="inline-block">
            <a class="button-outline-white mt-50" href="{{ block.button_link }}">
              {{ block.button_text }}
            </a>
          </span>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
