{% set block = block ?? null %}

{% if block %}
  <section class="section pb-0" data-label="hero-single-article">
    <div class="container">
      <div class="heading-6 mb-10">
        Insights
      </div>

      <h1 class="heading-2 mb-15">
        {{ post.title }}
      </h1>

      <div class="flex flex-wrap leading-none -mx-10 text-gray-dark text-11">
        <div class="border-r border-gray-dark px-10">
          {{ post.post_type | title }}
        </div>

        <div class="px-10">
          {{ post.post_date | date('F Y') }}
        </div>
      </div>
    </div>

    {% if block.image.id %}
      <div class="container-lg mt-40 relative lg:mt-50">
        {{ macros.responsiveImage(block.image.id, 1920, 800) }}

        {% include '_partials/credit.twig' ignore missing with {
          credit: block.image.description,
        } only %}
      </div>
    {% endif %}
  </section>
{% endif %}
