{% if menu and items | length %}
	<ul class="level-{{ level }}">
    {% for item in items %}
      <li class="{{ item.classes | join(' ') }}">
        <a href="{{ item.link }}">
          {{ item.title }}
        </a>

        {% if item.children | length %}
          {% include '_partials/header/menu.twig' with {
            items: item.children,
            level: level + 1
          } %}
        {% endif %}

      </li>
    {% endfor %}
	</ul>
{% endif %}
