{% set classes = classes ?? null %}

<button class="{{ classes ? classes ~ ' ' }}slick-prev block h-44 w-44" data-carousel-prev>
  <span class="sr-only">
    Previous Item
  </span>
  {{ svg('carousel-prev') }}
</button>
