{% set classes = classes ?? null %}

<button class="{{ classes ? classes ~ ' ' }}block h-44 w-44" data-carousel-next>
  <span class="sr-only">
    Next Item
  </span>
  {{ svg('carousel-next') }}
</button>
