{% set block = block ?? null %}

{% if block %}
  <section class="section pt-0 relative" data-label="featured-content-services">
    {% if block.featured_content | length %}
      <div class="container">
        <div class="flex flex-wrap -mb-30 lg:flex-no-wrap">
          {% for featured_content in block.featured_content %}
            <div class="mb-30 w-full lg:flex-1-1-0 lg:w-auto">
              {% include '_blocks/featured-content/featured-content.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
