{% set block = block ?? null %}
{% set articles = block.articles | length ? block.articles : articles %}

{% if block %}
  <section class="section" data-label="articles">
    {% if block.heading %}
      <div class="container-sm text-center">
        <h2 class="heading-3">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    <div class="container">
      {% if articles | length %}
        {% if block.type == 'large' %}
          <div class="-mb-50">
            {% for article in Post(articles) %}
              <div class="{{ not loop.last ? 'border-b border-gray-border ' }}mb-50 pb-50">
                {% include '_blocks/articles/article-large.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="flex flex-wrap -mb-50 -mx-30">
            {% for article in Post(articles) %}
              <div class="mb-50 px-30 w-full md:w-1/2 lg:w-1/3">
                {% include '_blocks/articles/article-small.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>

          <div class="text-center">
            <a class="button-outline-crimson button-small mt-25 lg:mt-30" href="/insights/">
              View All
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endif %}
