{% set block = block ?? null %}
{% set articles = block.articles | length ? Post(block.articles) : articles %}

{% if block %}
  <section class="section" data-label="articles">
    {% if block.heading %}
      <div class="container-sm text-center">
        <h2 class="{{ block.type == 'large' ? 'heading-6 ' : 'heading-4 ' }}mb-50">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if articles | length %}
      <div class="container">
        {% if block.type == 'large' %}
          <div class="-mb-50">
            {% for article in articles %}
              <div class="{{ not loop.last ? 'border-b border-gray-border ' }}mb-50 pb-50">
                {% include '_blocks/articles/article-large.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="flex flex-wrap -mb-30 -mx-10 lg:-mx-30">
            {% for article in articles %}
              <div class="mb-30 px-10 w-full md:w-1/2 lg:px-30 lg:w-1/3">
                {% include '_blocks/articles/article-small.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>

          <div class="text-center">
            <a class="button-outline-crimson button-small lg:mt-50" href="/insights/">
              View All
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endif %}
