{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="work-archive-service">
    <div class="container-md lg:text-center">
      {% if block.heading %}
        <h2 class="heading-4">
          {{ block.heading }}
        </h2>
      {% endif %}

      {% if block.text %}
        <div class="text">
          {{ block.text }}
        </div>
      {% endif %}
    </div>

    {% if work | length %}
      <div class="container pt-30">
        <div data-module="infinite-scroll" data-infinite-scroll-count="{{ work.pagination.total }}">
          <div class="flex flex-wrap -mb-40 -mx-30" data-infinite-scroll-container>
            {% for work in work %}
              <div class="mb-40 px-30 w-full md:w-1/2 lg:w-1/3">
                {% include '_blocks/work/work.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>

          {% if work.pagination.next %}
            <div class="mt-50 text-center">
              <a
                class="button-outline-crimson button-small"
                href="{{ work.pagination.next.link }}"
                data-infinite-scroll-trigger
              >
                Load More
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
