{% extends '_layouts/base.twig' %}

{% block content %}
  <div class="section" data-label="get-started">
    <div class="container">
      <h1 class="heading-3">
        {{ post.title }}
      </h1>

      <div class="flex flex-wrap -mx-30">
        {% if fields.embed %}
          <div class="px-30 w-full lg:w-2/3">
            {{ fields.embed | raw }}
          </div>
        {% endif %}

        <div class="mt-50 px-30 w-full lg:mt-0 lg:w-1/3">
          {% include '_partials/locations/index.twig' ignore missing with {
            locations: globals.locations,
          } only %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
