{% extends '_layouts/base.twig' %}

{% block content %}
  {% include '_partials/hero-archive/index.twig' ignore missing with {
    heading: post.title,
    text: post.text,
  } only %}

  <div class="bg-gray py-50" data-module="product-hash">
    <div class="container-lg">
      {% include 'templates/archive-product/platforms.twig' ignore missing %}

      {% if products | length %}
        <div class="flex flex-wrap -mb-20 -mx-20 pt-30 sm:-mx-10">
          {% for product in products %}
            <div class="mb-20 px-10 w-full sm:w-1/2 md:w-1/3 lg:w-1/4" data-product-hash="{{ product.hash }}">
              {% include '_blocks/products/product.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="pt-50">
          <p class="text">
            Sorry, we couldn't find any matching products.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
