{% if menu and items | length %}
	<ul>
    {% for item in items %}
      <li class="{{ item.classes | join(' ') }}">
        <a href="{{ item.link }}">
          {{ item.title }}
        </a>

        {% if item.children | length %}
          {% include '_partials/menu.twig' with {
            'items': item.children
          } %}
        {% endif %}

      </li>
    {% endfor %}
	</ul>
{% endif %}
