{% extends '_layouts/base.twig' %}

{% block content %}
  <div class="section" data-label="thank-you">
    <div class="container">
      <h1 class="heading-3">
        {{ post.title }}
      </h1>

      <div class="flex flex-wrap -mx-30">
        {% if fields.blocks %}
          <div class="px-30 w-full lg:w-2/3">
            {% for block in fields.blocks %}
              {% include '_blocks/' ~ block.acf_fc_layout ~ '/index.twig' ignore missing with {
                block: block
              } %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="mt-50 px-30 w-full lg:mt-0 lg:w-1/3">
          <aside class="bg-gray p-30">
            <h2 class="heading-6">
              Our Offices
            </h2>

            {% if globals.locations | length %}
              <ul class="-mb-30">
                {% for location in globals.locations %}
                  <li class="text mb-30">
                    {{ location.text }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
