{% set block = block ?? null %}

{% if block %}
  <section class="section bg-teal lg:pb-0" data-label="testimonials">
    {% if block.testimonials | length %}
      <div class="relative lg:px-60">
        {% if block.testimonials | length > 1 %}
          <div data-module="slick">
            {% for testimonial in block.testimonials %}
              <div class="h-full">
                <div class="flex flex-col h-full justify-center">
                  <div class="container lg:-mb-10">
                    {% include '_blocks/testimonials/testimonial.twig' ignore missing %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="-mt-30 lg:absolute lg:inset-x-0 lg:-mt-25 lg:top-1/2 lg:translate-y-1/2">
            <div class="container-lg">
              <div class="flex justify-center -mx-5 lg:justify-between">
                <div class="px-5">
                  {% include '_partials/carousel/button-prev.twig' ignore missing with {
                    classes: 'opacity-50 text-white transition-fast hover:opacity-100',
                  } only %}
                </div>

                <div class="px-5">
                  {% include '_partials/carousel/button-next.twig' ignore missing with {
                    classes: 'opacity-50 text-white transition-fast hover:opacity-100',
                  } only %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% set testimonial = block.testimonials[0] %}

          <div class="container lg:-mb-10">
            {% include '_blocks/testimonials/testimonial.twig' ignore missing %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endif %}
