<div class="bg-white p-30 shadow text-center md:p-60 lg:p-100 lg:text-left">
  {% if testimonial.text %}
    <div class="text font-serif italic leading-tight text-20 md:text-36 lg:text-48">
      {{ testimonial.text }}
    </div>
  {% endif %}

  {% if testimonial.attribution %}
    <p class="text italic mt-20 text-14 md:mt-25 lg:mt-30">
      {{ testimonial.attribution }}
    </p>
  {% endif %}
</div>
