{% set block = block ?? null %}

{% if block %}
  <section class="bg-gradient text-white" data-label="locations">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="hidden px-30 w-full lg:block lg:-mt-50 lg:w-1/4">
          {% set image = TimberImage(block.image) %}

          {% if image.src %}
            <div class="pin-l">
              <img src="{{ image.src | resize(900, 1100, 'center') }}" alt="{{ image.alt }}" />
            </div>
          {% endif %}
        </div>

        <div class="section px-30 w-full lg:py-50 lg:w-3/4">
          <h2 class="heading-6">
            Our Offices
          </h2>

          {% if globals.locations | length %}
            <ul class="flex flex-wrap -mb-50 -mx-30">
              {% for location in globals.locations %}
                <li class="text mb-50 px-30 w-full md:w-1/2">
                  {{ location.text }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
