.arrow {
  @apply font-bold
    inline-block
    text-blue-denim;


  &:hover,
  &:focus {
    & svg {
      transform: translate3d(5px, -0.1em, 0);
    }
  }

  & svg {
    @apply inline-block
      ml-5
      transition-fast;
    backface-visibility: hidden;
    transform: translateY(-0.1em);
  }
}
