.button,
[class*="button-"] {
  @apply bg-crimson
    border-2
    border-crimson
    font-bold
    inline-block
    leading-tight
    max-w-full
    no-underline
    p-20
    rounded-full
    text-center
    text-white
    transition
    w-full;
  min-width: 200px;

  @screen sm {
    @apply px-30
      py-20
      w-auto;
  }

  &:hover {
    @apply bg-crimson-dark
      border-crimson-dark;
  }

  &:focus {
    @apply outline-none;
    box-shadow: 0px 0px 20px theme(colors.crimson.default);
  }
}

.button-outline,
[class*="button-outline-"] {
  @apply bg-transparent
    border-white;
}

.button-white {
  &:hover,
  &:focus {
    @apply bg-crimson
      border-crimson;
  }

  &:focus {
    box-shadow: 0px 0px 20px theme(colors.denim-blue);
  }
}

.button-outline-blue {
  &:hover {
    @apply bg-blue-denim
      border-blue-denim;
  }

  &:focus {
    box-shadow: 0px 0px 20px theme(colors.blue.denim);
  }
}

.button-outline-crimson {
  &:hover {
    @apply bg-crimson
      border-crimson
      text-white;
  }

  &:focus {
    box-shadow: 0px 0px 20px theme(colors.crimson.default);
  }
}

@variants responsive {
  .button-crimson {
    @apply bg-crimson
      border-crimson
      text-white;
  }

  .button-white {
    @apply bg-white
      border-white
      text-crimson;
  }

  .button-outline-blue {
    @apply border-blue-denim;
  }

  .button-outline-crimson {
    @apply border-crimson
      text-crimson;
  }

  .button-small {
    @apply min-w-0
      px-20
      py-15
      text-12
      tracking-wide
      uppercase;
  }
}
