.container,
[class*="container-"] {
  @apply mx-auto
    px-20;
  max-width: 1200px;
}

.container-sm {
  max-width: 720px;
}

.container-md {
  max-width: 960px;
}

.container-lg {
  max-width: 1320px;
}
