.container {
  @apply mx-auto
    px-20;
  max-width: 1200px;
}

.anchor-left {
  @media (min-width: 1200px) {
    margin-left: calc((1160px - 100vw) / 2) !important; /* Override inline Tailwind utilities */
  }
}

.anchor-right {
  @media (min-width: 1200px) {
    margin-right: calc((1160px - 100vw) / 2) !important; /* Override inline Tailwind utilities */
  }
}
