/*! purgecss start ignore */
input[type="text"],
select {
  @apply leading-tight
    w-full;
  height: 50px;
}

input[type="text"] {
  @apply bg-transparent
    border-0
    border-b
    border-white
    text-white;

  &::placeholder {
    @apply italic
      text-white;
  }
}

select {
  @apply border-white
    px-15
    text-black;
  background: theme(colors.white.default) url('../images/select.svg') right 15px center/ no-repeat;
  appearance: none;
  border-radius: 4px;
}

[type="checkbox"],
[type="radio"] {
  @apply absolute
      border-none
      -m-1
      overflow-hidden
      p-0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;

  & + span {
    @apply pl-30
      relative;

    &::before,
    &::after {
      @apply absolute
        left-0;
      content: "";
      height: 18px;
      top: 0.05em;
      width: 18px;
    }

    &::before {
      @apply bg-white;
    }

    &::after {
      @apply bg-blue-denim
        opacity-0
        transition-fast;
    }
  }

  &:checked + span::after {
    @apply opacity-100;
  }
}

[type="checkbox"] {
  & + span {
    &::before,
    &::after {
      border-radius: 4px;
    }

    &::after {
      background: theme(colors.blue.denim) url('../images/checkbox.svg') center/12px auto no-repeat;
    }
  }
}

[type="radio"] {
  & + span {
    &::before,
    &::after {
      @apply rounded-full;
    }

    &::after {
      height: 10px;
      margin: 4px 0 0 4px;
      width: 10px;
    }
  }
}
/*! purgecss end ignore */
