[data-module="header"].stuck {
  @screen lg {
    @apply py-10
      shadow-xs;
  }
}

[data-header-trigger] {
  & svg {
    &:last-of-type {
      @apply hidden;
    }
  }

  &[aria-expanded="true"] {
    & svg {
      &:first-of-type {
        @apply hidden;
      }

      &:last-of-type {
        @apply block;
      }
    }

    & + div {
      @apply block;
    }
  }
}

/*! purgecss start ignore */
.admin-bar [data-module="header"] {
  @screen lg {
    top: 32px;
  }
}
/*! purgecss end ignore */

[data-header-menu],
[data-header-submenu] {
  clip-path: inset(1px 0 -15px);
}

[data-header-menu] {
  @screen lg {
    clip-path: none;
  }

  &[aria-hidden] {
    @screen lg {
      @apply block;
    }
  }
}
