.header.stuck {
  @screen lg {
    @apply py-10
      shadow-xs;
  }
}

.header-button {
  & svg {
    &:last-of-type {
      @apply hidden;
    }
  }

  &[aria-expanded="true"] {
    & svg {
      &:first-of-type {
        @apply hidden;
      }

      &:last-of-type {
        @apply block;
      }
    }
  }
}

/*! purgecss start ignore */
.admin-bar .header {
  @media (min-width: 782px) {
    top: 32px;
  }
}
/*! purgecss end ignore */

.menu,
.submenu {
  clip-path: inset(1px 0 -15px);
}

.menu {
  @screen lg {
    clip-path: none;
  }

  &[aria-hidden] {
    @screen lg {
      @apply block;
    }
  }
}
