.header.stuck {
  @screen lg {
    @apply py-10
      shadow-xs;
  }
}

.header-trigger {
  & svg {
    &:last-of-type {
      @apply hidden;
    }
  }

  &[aria-expanded="true"] {
    & svg {
      &:first-of-type {
        @apply hidden;
      }

      &:last-of-type {
        @apply block;
      }
    }

    & + div {
      @apply block;
    }
  }
}

.header-submenu-trigger {
  &[aria-expanded="true"] {
    & + div {
      @screen lg {
        @apply block;
      }
    }
  }

  & + div {
    @apply hidden;
  }
}

/*! purgecss start ignore */
.admin-bar .header {
  @screen lg {
    top: 32px;
  }
}
/*! purgecss end ignore */

.header-menu,
.header-submenu {
  clip-path: inset(1px 0 -100vh);

  &[aria-hidden] {
    @apply block
      opacity-0
      pointer-events-none
      invisible;
  }
}

.header-menu {
  height: calc(100vh - 71px);

  @screen lg {
    @apply h-auto;
    clip-path: none;
  }

  &[aria-hidden] {
    @screen lg {
      @apply opacity-100
        pointer-events-auto
        visible;
    }
  }
}

.header-submenu[aria-hidden] {
  @screen lg {
    transform: translateY(-20px);
  }
}
