[data-label="audiences"] [data-tabs-trigger] {
  &[aria-expanded="true"] {
    @apply border-b-0;

    @screen lg {
      @apply text-black;

      &::before {
        @apply shadow-lg;
      }
    }

    &::before {
      @apply block;
    }

    &::after {
      @apply hidden;
    }

    & svg:last-of-type {
      @screen lg {
        @apply block;
      }
    }
  }

  &::before,
  &::after {
    @apply absolute
      bg-white
      right-0;
    width: 50vw;

    @screen lg {
      content: "";
    }
  }

  &::before {
    @apply hidden
      h-full
      top-0;
  }

  &::after {
    @apply bg-black-semitransparent
      bottom-0;
    height: 1px;
  }
}

[data-label="spec-groups"] [data-tabs-trigger] {
  &[aria-expanded="true"]::before {
    @apply block;
  }

  &::before {
    @apply absolute
      bg-blue-denim
      bottom-0
      hidden
      inset-x-0
      w-auto;
    content: "";
    height: 5px;
  }
}
