/*! purgecss start ignore */
.tabs-trigger {
  &[aria-expanded="true"] {
    @apply border-b-0;

    @screen lg {
      @apply shadow-md
        text-black;
    }

    &::before {
      @apply block;
    }

    &::after {
      @apply hidden;
    }

    & svg:last-of-type {
      @screen lg {
        @apply block;
      }
    }
  }

  &::before,
  &::after {
    @apply absolute
      bg-white
      right-0;
    width: 50vw;

    @screen lg {
      content: "";
    }
  }

  &::before {
    @apply hidden
      h-full
      top-0;
  }

  &::after {
    @apply bg-black-semi-opaque
      bottom-0;
    height: 1px;
  }
}

.specs .tabs-triggers {
  &[aria-expanded="true"]::before {
    @apply block;
  }

  &::before {
    @apply absolute
      bg-blue-link
      bottom-0
      hidden
      inset-x-0;
    content: "";
    height: 5px;
  }
}

.audience .tabs-targets {
  @apply w-full;

  @screen lg {
    width: 75%;
  }
}
/*! purgecss end ignore */
