/*! purgecss start ignore */
.text {
  & a {
    &:not(.button):not([class*="button-"]):not(.call-to-action-button) {
      @apply font-bold
        text-blue-denim;
    }
  }

  & p,
  & dl,
  & ol,
  & ul,
  & blockquote {
    @apply mb-30;

    &:last-child {
      @apply mb-0;
    }
  }

  & p {
    @apply leading-normal;
  }

  & dl,
  & ol,
  & ul {
    @apply leading-tight
      pl-40;

    & > dd,
    & > dt,
    & > li {
      @apply mb-10;

      &:last-child {
        @apply mb-0;
      }
    }
  }

  & dl,
  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & img {
    @apply mb-30
      relative
      w-screen;
    left: 50%;
    max-width: 960px;
    transform: translateX(-50%);

    &.alignleft,
    &.alignright {
      @apply left-auto;
      transform: none;
      width: 50%;
    }

    &.alignleft {
      @apply float-left
        mr-30;
    }

    &.alignright {
      @apply float-right
        ml-30;
    }
  }

  & blockquote,
  & blockquote p {
    @apply font-serif
      italic
      relative
      text-20;

    @screen md {
      @apply text-24;
    }

    @screen md {
      @apply text-30;
    }
  }

  & blockquote {
    @apply mt-0
      mx-0
      pb-30
      relative;
    left: 50%;
    max-width: 840px;
    transform: translateX(-50%);
    width: calc(100vw - 40px);

    &::before {
      @apply absolute
        bg-crimson
        bottom-0
        left-0;
      content: "";
      height: 5px;
      width: 120px;
    }

    & p {
      @apply mb-20;

      &:last-child:not(:first-child) {
        @apply font-sans
          not-italic
          text-14;
      }
    }
  }

  & hr {
    @apply border-b
      border-gray-border
      my-50;

    @screen md {
      @apply my-75;
    }

    @screen lg {
      @apply my-100;
    }
  }
}
/*! purgecss end ignore */
