{% set block = block ?? null %}
{% set reports = block.reports | length ? block.reports : reports %}

{% if block %}
  <section class="section" data-label="past-reports">
    {% if block.heading %}
      <div class="container-sm text-center">
        <h2 class="heading-6">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if reports | length %}
      <div class="container">
        <div class="flex flex-wrap justify-center -mb-30 -mx-15">
          {% for report in reports %}
            <div class="mb-30 px-15 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
              {% include '_blocks/reports/report.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
