<div class="flex -mx-5">
  <div class="px-5">
    {{ svg('report', { classes: 'mt-5 text-blue-light' })}}
  </div>

  <div class="px-5">
    <h3 class="font-bold text-blue-denim">
      {{ report.title }}
    </h3>
  </div>
</div>
