{% set block = block ?? null %}

{% if block %}
  <section class="section bg-gray" data-label="featured-content">
    {% if block.heading %}
      <div class="container-sm">
        <h2 class="heading-3 text-center">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if block.featured_content | length %}
      <div class="container">
        <div class="flex flex-wrap -mb-30 lg:flex-no-wrap">
          {% for card in block.featured_content %}
            <div class="mb-30 w-full lg:flex-1-1-0 lg:w-auto">
              {% include '_blocks/featured-content/card.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
