{% set block = block ?? null %}

{% if block %}
  <section class="section bg-gray" data-label="featured-content">
    {% if block.heading %}
      <div class="container-sm text-center">
        <h2 class="heading-3">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if block.featured_content | length %}
      <div class="container-lg">
        <div class="flex flex-wrap -mb-30 lg:flex-no-wrap">
          {% for featured_content in block.featured_content %}
            <div class="mb-30 w-full{{ block.featured_content | length > 2 ? ' md:flex-1-1-0 md:w-auto' : ' lg:flex-1-1-0 lg:w-auto' }}">
              {% include '_blocks/featured-content/featured-content.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
