{% set block = block ?? null %}

{% if block %}
  <section class="section bg-gray" data-label="featured-content">
    {% if block.heading %}
      <div class="container-sm text-center">
        <h2 class="heading-3">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if block.featured_content | length %}
      <div class="container-lg">
        <div class="flex flex-wrap justify-center -mb-30 -mx-10 md:mx-0">
          {% for featured_content in block.featured_content %}
            <div class="mb-30 w-full md:w-1/2{{ block.featured_content | length > 1 ? ' lg:w-1/' ~ block.featured_content | length }}">
              {% include '_blocks/featured-content/featured-content.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
