{% set block = block ?? null %}

{% if block %}
  <section class="section bg-blue text-white" data-label="team">
    {% if block.heading %}
      <div class="container-md">
        <h2 class="heading-3 text-center">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    <div class="container">
      <div class="flex flex-wrap -mb-50 -mx-30">
        {% for team_member in block.team_members %}
          <div class="mb-50 px-30 w-full md:w-1/2 lg:w-1/3">
            {% include '_blocks/team-members/team-member.twig' ignore missing %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
