
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="images">
    <div class="container">
      {% if block.images | length %}
        <div class="flex flex-wrap items-center justify-center -mb-50 -mx-30">
          {% for image in block.images %}
            <div class="pb-50 px-30 w-full{{ loop.first and loop.last ? ' lg:w-3/4' : ' lg:w-1/2' }}">
              {% set image = TimberImage(image) %}

              {% if image.src %}
                <img src="{{ image.src | resize(1440, 960) }}" alt="{{ image.alt }}" />
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
