{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="work">
    {% if block.heading %}
      <div class="container-sm">
        <h2 class="heading-3 text-center">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    {% if block.work | length %}
      <div class="container">
        <div class="flex flex-wrap -mb-40 -mx-30">
          {% for work in Post(block.work) %}
            <div class="mb-40 px-30 w-full md:w-1/2 lg:w-1/3">
              {% include '_blocks/work/work.twig' ignore missing %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
