{% extends '_layouts/base.twig' %}

{% block content %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  {# change to post types #}
  {% if podcast_sponsors | length %}
    <select>
      {% for podcast_sponsor in podcast_sponsors %}
        <option value="{{ podcast_sponsor.sponsorName }}">
          {{ podcast_sponsor.sponsorName }}
        </option>
      {% endfor %}
    </select>
  {% endif %}

  {% if podcast_sponsors | length %}
    <ul>
      {% for podcast_sponsor in podcast_sponsors %}
        <li>
          {{ dump(podcast_sponsor) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
