
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="text-with-image">
    <div class="container">
      <div class="{{ block.alignment_select == 'left' ? 'lg:flex-row-reverse ' }}flex flex-wrap items-center -mb-50 -mx-30 lg:flex-no-wrap">
        {% if block.text %}
          <div class="mb-50 px-30 w-full lg:w-1/2">
            <div class="text">
              {{ block.text }}
            </div>
          </div>
        {% endif %}

        <div class="mb-50 px-30 w-full lg:w-1/2">
          {% set image = TimberImage(block.image) %}

          {% if image.src %}
            <div class="-mx-20">
              <img src="{{ image.src | resize(1080, null, 'center') }}" alt="{{ image.alt }}" />
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
