{%- import '_macros/index.twig' as macros -%}

{% set video = video ? fn('npm_get_oembed', video) : null %}
{% set image = image is iterable ? image.id : image %}

{% if video %}
  <div data-module="video" data-video-title="{{ video.title }}">
    {% if video.html %}
      <div class="video">
        {{ video.html }}

        {% if image %}
          <button class="overlay absolute group h-full inset-1/2 translate-1/2 w-full z-10" data-video-play>
            {{ macros.responsiveImage(image, 720, 405) }}

            <span class="absolute inset-1/2 invisible h-100 opacity-0 transition-fast translate-1/2 w-100 group-hover:opacity-100 group-hover:visible">
              <span class="sr-only">
                Play Video
              </span>
              <img
                class="mt-10"
                src="{{ fn('get_stylesheet_directory_uri') }}/assets/images/play.png"
                alt=""
              >
            </span>
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
