{% set video = video ?? null %}
{% set image = image ? TimberImage(image) : null %}

{% if video %}
  <div data-module="video">
    <div class="video">
      {{ video }}

      {% if image.src %}
        <div
          class="absolute h-full inset-1/2 translate-1/2 w-full z-10"
          data-video-play
          data-video-overlay
        >
          <img src="{{ image.src | resize(720, 405, 'center') }}" alt="{{ image.alt }}" />

          <button class="absolute inset-1/2 h-80 translate-1/2 w-80">
            <span class="sr-only">
              Play Video
            </span>
            {{ svg('play') }}
          </button>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
