{% set video = video ? fn('npm_get_oembed', video) : null %}
{% set uid = uid ?? null %}

{% if video %}
  {% set content %}
    {% if video.html %}
      <div class="video">
        {{ video.html }}
      </div>
    {% endif %}
  {% endset %}

  {% include '_partials/modal.twig' ignore missing with {
    content: content,
    uid: uid,
  } only %}
{% endif %}
