{% set video = video ?? null %}
{% set uid = uid ?? null %}

{% if video %}
  {% set content %}
    <div class="video">
      {{ video }}
    </div>
  {% endset %}

  {% include '_partials/modal.twig' ignore missing with {
    content: content,
    uid: uid,
  } only %}
{% endif %}
