{% set block = block ?? null %}

{% if block %}
  <section class="section bg-gradient clearfix pt-0" data-label="cards-platform">
    <div class="float-left -mt-30 w-full md:-mt-40 lg:-mt-50">
      {% if block.cards | length %}
        <div class="container-lg">
          <div class="flex flex-wrap -mb-30 lg:flex-no-wrap">
            {% for card in block.cards %}
              <div class="mb-30 flex-1-1-0 w-full lg:w-auto">
                {% include '_blocks/cards/card.twig' ignore missing with {
                  card: card,
                } only %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if block.secondary_cards | length %}
        <div class="container-sm mt-50 md:mt-75 lg:mt-100">
          <div class="-mb-30">
            {% for card in block.secondary_cards %}
              <div class="mb-30">
                {% include '_blocks/cards-format/card.twig' ignore missing %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
