@variants responsive, hover, focus {
  .screen-reader-only {
    @apply absolute
      border-none
      -m-1
      overflow-hidden
      p-0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
  }

  .screen-reader-undo {
    @apply absolute
      h-auto
      m-0
      overflow-visible
      w-auto;
    clip: auto;
  }
}

/*! purgecss start ignore */
[data-whatinput="mouse"],
[data-whatinput="touch"] {
  & *:focus {
    outline: none;
  }
}
/*! purgecss end ignore */
