.pin-l,
.pin-r {
  @apply max-w-screen;

  @screen max {
    width: calc(100% + ((100vw - 1160px) / 2));
  }
}

.pin-l {
  @screen max {
    @apply float-left;
    transform: translateX(calc((1160px - 100vw) / 2));
  }
}

.pin-r {
  @screen max {
    @apply float-right;
    transform: translateX(calc((100vw - 1160px) / 2));
  }
}
