.pin-l,
.pin-r {
  @apply max-w-screen;

  @screen lg {
    width: calc(100% + 30px);
  }

  @media (min-width: 1200px) {
    width: calc(100% + ((100vw - 1160px) / 2));
  }
}

.pin-l {
  @media (min-width: 1200px) {
    @apply float-left;
    margin-left: calc((1160px - 100vw) / 2) !important;
  }
}

.pin-r {
  @media (min-width: 1200px) {
    @apply float-right;
    margin-right: calc((1160px - 100vw) / 2) !important;
  }
}
