.pin-l,
.pin-r {
  @apply max-w-screen
    -mx-20
    w-auto;

  @screen lg {
    width: calc(100% + 20px);
  }

  @media (min-width: 1200px) {
    width: calc(100% + ((100vw - 1160px) / 2));
  }
}

.pin-l {
  @screen lg {
    @apply  float-left
      -ml-20;
  }

  @media (min-width: 1200px) {
    margin-left: calc((1160px - 100vw) / 2);
  }
}

.pin-r {
  @screen lg {
    @apply float-right
      -mr-20;
  }

  @media (min-width: 1200px) {
    margin-right: calc((1160px - 100vw) / 2);
  }
}

[data-label="audiences"] .pin-r {
  @screen lg {
    @apply -mr-20;
  }

  @media (min-width: 1320px) {
    margin-right: calc((1280px - 100vw) / 2);
    width: calc(100% + ((100vw - 1280px) / 2));
  }
}
