.section {
  @apply py-50;

  @screen md {
    @apply py-75;
  }

  @screen lg {
    @apply py-100;
  }

  &:not([class*="bg-"]) + .section:not([class*="bg-"]) {
    @apply relative;

    &::before {
      @apply absolute
        bg-gray-border
        top-0
        w-full;
      content: "";
      height: 1px;
      left: 50%;
      max-width: 1160px;
      transform: translateX(-50%);
    }
  }
}

[data-label="featured-work"] + [data-label="work"] {
  @apply pt-0;

  @screen md {
    @apply -mt-25;
  }

  @screen lg {
    @apply -mt-50;
  }

  &::before {
    content: none;
  }
}

main section {
  &:first-child:not([class*="bg-"]) {
    @apply border-t
      border-gray-border;
  }

  &:last-child:not([class*="bg-"]) {
    @apply relative;

    &::after {
      @apply absolute
        bg-gray-border
        bottom-0
        w-full;
      content: "";
      height: 1px;
      left: 50%;
      max-width: 1160px;
      transform: translateX(-50%);
    }
  }
}
