.section {
  @apply py-30;

  @screen lg {
    @apply py-50;
  }
}

[data-label]:not([class*="bg-"]) + [data-label]:not([class*="bg-"]) {
  @apply relative;

  &::before {
    @apply absolute
      bg-gray-border
      top-0
      w-full;
    content: "";
    height: 1px;
    left: 50%;
    max-width: 1160px;
    transform: translateX(-50%);
  }
}

[data-label*="hero"]:not([class*="bg-"]) + [data-label]:not([class*="bg-"]):before {
  content: none;
}

[data-label="featured-work"] + [data-label="work"] {
  @apply pt-0;

  @screen lg {
    @apply -mt-20;
  }

  &::before {
    content: none !important;
  }
}

main > [data-label] {
  &:first-child:not([class*="bg-"]) {
    @apply border-t
      border-gray-border;
  }

  &:last-child:not([class*="bg-"]) {
    @apply relative;

    &::after {
      @apply absolute
        bg-gray-border
        bottom-0
        w-full;
      content: "";
      height: 1px;
      left: 50%;
      max-width: 1160px;
      transform: translateX(-50%);
    }
  }
}
