{% extends '_layouts/base.twig' %}

{% block content %}
  <div data-label="single-service">
    {% if fields.blocks %}
      {% for block in fields.blocks %}
        {% include '_blocks/' ~ block.acf_fc_layout ~ '/index.twig' ignore missing with {
          block: block
        } %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
