
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="videos">
    {% if block.heading or block.text %}
      <div class="container-sm">
        {% if block.heading %}
          <h2 class="heading-3 text-center">
            {{ block.heading }}
          </h2>
        {% endif %}

        {% if block.text %}
          <div class="text">
            {{ block.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if block.videos | length %}
      {% if block.videos | length > 1 %}
        <div class="container mt-50">
          <div class="flex flex-wrap items-center justify-center -mb-50 -mx-30">
            {% for video in block.videos %}
              <div class="mb-50 px-30 w-full lg:w-1/2">
                {% include '_partials/video.twig' ignore missing with {
                  video: video.video,
                  image: video.image,
                } only %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="container-sm mt-50">
          {% set video = block.videos[0] %}

          {% include '_partials/video.twig' ignore missing with {
            video: video.video,
            image: video.image,
          } only %}
        </div>
      {% endif %}
    {% endif %}
  </section>
{% endif %}
