
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="videos">
    <div class="container">
      {% if block.videos | length %}
        <div class="flex flex-wrap items-center justify-center -mb-50 -mx-30">
          {% for video in block.videos %}
            <div class="pb-50 px-30 w-full{{ loop.first and loop.last ? ' lg:w-7/12' : ' lg:w-1/2' }}">
              {% include '_partials/video.twig' ignore missing with {
                video: video.video,
                image: video.image,
              } only %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
