{% set block = block ?? null %}

{% if block %}
  <section class="bg-blue py-30 text-white" data-label="hero-front-page">
    <div
      class="overflow-hidden"
      data-module="carousel"
      data-carousel-autoplay="true"
    >
      <div class="carousel-track flex relative" data-carousel-track>
        {% for item in block.items %}
          <div class="carousel-item flex-0 w-full" data-carousel-item>
            {% include '_blocks/hero-front-page/item.twig' ignore missing %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
