{% set color_select = color_select ?? 'blue' %}
{% set image = image ? TimberImage(image) : null %}
{% set heading = heading ?? null %}
{% set text = text ?? null %}
{% set button_link = button_link ?? null %}
{% set button_text = button_text ?? null %}

<section class="{{ color_select != 'white' and all_to_action.color_select != 'gray' ? 'text-white ' }}bg-{{ color_select }} text-center" data-label="call-to-action">
  {% if image.src %}
    <div class="lg:pt-50 lg:text-left">
      <div class="container">
        <div class="flex flex-wrap items-end -mx-30">
          <div class="px-30 hidden w-full lg:block lg:w-5/12">
            <img src="{{ image.src | resize(960, 960, 'center') }}" alt="{{ image.alt }}" />
          </div>

          <div class="px-30 py-50 w-full lg:py-100 lg:w-7/12">
            {% include '_partials/call-to-action/call-to-action.twig' ignore missing %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="section">
      <div class="container-md">
        {% include '_partials/call-to-action/call-to-action.twig' ignore missing %}
      </div>
    </div>
  {% endif %}
</section>
